body {
    background-image: url(http://i.imgur.com/6FIkhZa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 1.5cm;
    background-image: url(http://i.imgur.com/6FIkhZa.png);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card {
    background-color: #e9ecef;
    border-color: black;
}

.jumbotron {
    background-color: rgb(140, 139, 168);
    border-color: black;
}

#proceed {
    margin-left: 5cm;
}

#giphy {
    width: 4cm;
    height: 4cm;
    margin-left:3cm;
}

#passed {
    display:none;
}
#fairly {
    display:none;
}
#failed {
    display:none;
}

#results {
    margin-top: 2cm;
}

#details {
    margin-top: 2cm;
}

#greeting {
    font-size: 1cm;
}

#rules {
    font-style: italic;
    font-size: 0.4cm;
    text-align: center;
    border: 1cm;
    border-color: black;
}

.form-control{
    width: 8cm;
}

